
body{
    background-color: #d9cfb8;
}
h1 {
    background-color: black;
}
#p1 {
    background-color: #81d3b7;
}
h2 {
    background-color: #5d4e4e;
}
#p2 {
    background-color: #a3d4c7;
}
ul {
    background-color: #a0bfb4;
}